[mcu expander]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_1B0027001453303755373220-if00
restart_method: command


# [output_pin mosfet0]
# pin: expander:PA0
# pwm: true
# cycle_time: 0.010
# value: 0
# shutdown_value: 0

# [output_pin mosfet1]
# pin: expander:PA1
# pwm: true
# cycle_time: 0.010
# value: 0
# shutdown_value: 0

# [output_pin mosfet2]
# pin: expander:PA2
# pwm: true
# cycle_time: 0.010
# value: 0
# shutdown_value: 0

# [output_pin mosfet3]
# pin: expander:PA3
# pwm: true
# cycle_time: 0.010
# value: 0
# shutdown_value: 0

# # Status LED lights when klipper connects 
# [static_digital_output onboardLED]
# pins: !expander:PA4


# [neopixel expanderPixel]
# pin: expander:PB1
# chain_count: 1
# initial_RED: 0.9
# initial_GREEN: 0.3
# initial_BLUE: 0.0

# # Other Pins
# # T0 = expander:PA6
# # T1 = expander:PA5
# # GPIO = expander:PA7


[temperature_sensor chamber_probe]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: expander:PA6
min_temp: -100
max_temp: 140

[heater_generic chamber]
heater_pin: expander:PA3
max_power: 0.6


# sensor_type: EPCOS 100K B57560G104F
# sensor_pin: PC5
# https://github.com/qidi-community/Plus4-Wiki/blob/main/content/chamber-heater-investigation/README.md
sensor_type: temperature_combined
sensor_list: temperature_sensor nozzle_mcu_temp, temperature_sensor chamber_temp, temperature_sensor chamber_probe, temperature_sensor chamber_temp
combination_method: mean
maximum_deviation: 90


control = pid
pid_Kp=63.418 
pid_Ki=1.342 
pid_Kd=749.125

min_temp: -100
max_temp: 80
#heat_with_heater_bed:True
#heat_with_heater_bed_tem_add:25

[verify_heater chamber]
max_error: 400
check_gain_time: 600
hysteresis: 5
heating_gain: 2
#position_z: 270 разобраться

[heater_fan chamber]
pin: expander:PA0
heater: chamber
heater_temp: 45


# [controller_fan chamber_heater_fan]
# #[chamber_fan chamber_fan]
# pin: expander:PA0
# max_power: 1.0
# shutdown_speed: 0
# kick_start_time: 0.5
# heater:chamber
# fan_speed: 1.0
# off_below: 0
# idle_timeout:60
# idle_speed:1.0


# [heater_fan chamber_heater_fan]
# pin: expander:PA0
# max_power: 1.0
# shutdown_speed: 0
# kick_start_time: 0.5
# heater: chamber
# fan_speed: 1.0
# off_below: 0
# heater_temp: 60.0





# [temperature_sensor nozzle_mcu_temp]
# sensor_type: temperature_mcu
# sensor_mcu: nozzle_mcu
# min_temp: 0
# max_temp: 100


# [temperature_fan nozzle_mcu_fan]
# pin: expander:PA1
# cycle_time: 0.0100
# hardware_pwm: false
# max_power: 1
# shutdown_speed: 0
# sensor_type: temperature_mcu
# sensor_mcu: nozzle_mcu
# min_temp: 0
# max_temp: 100
# control: watermark
# max_delta: 2
# max_speed: 1.0
# min_speed: 0.0
# target_temp: 70

# [duplicate_pin_override]
# pins:
#     ADC_TEMPERATURE


# [temperature_fan nozzle_mcu_fan]
# pin: expander:PA1
# max_power: 1
# hardware_pwm: true
# control: watermark
# max_delta: 2
# sensor_type: temperature_mcu
# sensor_mcu: nozzle_mcu
# min_temp: 0
# max_temp: 100
# target_temp: 70



# [heater_generic chamber]
# heater_pin: expander:PA3
# max_power: 1.0
# sensor_type: EPCOS 100K B57560G104F
# sensor_pin: PC5
# control: watermark
# max_delta: 1
# min_temp:-100
# max_temp:65


# [verify_heater chamber]
# max_error: 900
# check_gain_time: 300
# hysteresis: 50
# heating_gain: 1

