# [mcu leveling_mcu]
# serial: /dev/ttyS9
# baud: 230400
# restart_method: command

# [probe_eddy_current btt_eddy]
# secondary_probe: secondary_
# secondary_probe_z_offset: 0.245
# для тестов
# secondary_probe_z_offset: 0.000001


# [temperature_sensor bed_mcu_temp]
# sensor_type: temperature_mcu
# sensor_mcu: leveling_mcu
# min_temp: 0
# max_temp: 100

# [load_cell_probe]
# samples: 3
# sample_retract_dist: 10.0
# sensor_type: hx711
# dout_pin: leveling_mcu:PA0
# sclk_pin: leveling_mcu:PA2
# z_offset: 0.0
# counts_per_gram: 28.45028
# reference_tare_counts: -172608
# safety_limit: 5000
# trigger_force: 160
# trigger_count: 1
# speed: 2
# lift_speed: 5.0
# pullback_dist: 0.5
# pullback_speed: 0.2
# pullback_extra_time: 0.3
# settling_time: 0.5
# activate_gcode:
#     {% set PROBE_TEMP = 300 %}
#     {% set MAX_TEMP = PROBE_TEMP + 5 %}
#     {% set ACTUAL_TEMP = printer.extruder.temperature %}
#     {% set TARGET_TEMP = printer.extruder.target %}

#     {% if TARGET_TEMP > PROBE_TEMP %}
#         { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
#         M109 S{ PROBE_TEMP }
#     {% else %}
#         # Temperature target is already low enough, but nozzle may still be too hot.
#         {% if ACTUAL_TEMP > MAX_TEMP %}
#             { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
#             TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
#         {% endif %}
#     {% endif %}
