[probe]
x_offset: 0.0
y_offset: 18.7
# speed: 5
# lift_speed: 25

[bed_mesh]
# speed: 150
# horizontal_move_z: 3
mesh_min: 10,20
mesh_max: 200,200
probe_count: 5,5
fade_start: 5.0
fade_end: 50.0
algorithm: lagrange

[screws_tilt_adjust]
screw1: 25,3
screw1_name: front left screw
screw2: 195,3
screw2_name: front right screw
screw3: 195,171.3
screw3_name: rear right screw
screw4: 25,171.3
screw4_name: rear left screw
# speed: 150
# horizontal_move_z: 5
screw_thread: CW-M4

[axis_twist_compensation]
speed: 50
horizontal_move_z: 5
calibrate_start_x: 30
calibrate_end_x: 210
calibrate_y: 105

[gcode_macro SCREWS_CALIBRATION]
description: Start Bed Screws Calibration
gcode:
  {% if printer.toolhead.homed_axes != "xyz" %}
    G28
  {% endif %}
  SCREWS_TILT_CALCULATE


[gcode_macro _HOME_Z]
gcode:

    {% set x_offset = printer.configfile.settings.probe.x_offset %}
    {% set y_offset = printer.configfile.settings.probe.y_offset %}
    {% set POSITION_X = printer.configfile.settings['stepper_x'].position_max/2 %}
    {% set POSITION_Y = printer.configfile.settings['stepper_y'].position_max/2 %}
    {% set PROBE_POSITION_X = POSITION_X - x_offset %}
    {% set PROBE_POSITION_Y = POSITION_Y - y_offset %}
    G90
    # Always use consistent run_current on A/B steppers during sensorless homing
    G0 X{PROBE_POSITION_X} Y{PROBE_POSITION_Y} F2800

    G28 Z

    G90
    
    G1 Z10 F1200

    # Wait just a second… (give StallGuard registers time to clear)
    G4 P1000

    G0 X{POSITION_X} Y{POSITION_Y} F2800
