[printer]
max_velocity: 600
max_accel: 15000
max_z_accel: 150
max_z_velocity: 7.5

# https://docs.google.com/document/d/1bB4PMj19bbA6hy5UjiqDtNzSKsMhrKbdDIHbrA4D0GU/edit?tab=t.0
[stepper_x]
position_endstop: 226.5
position_min: -2.5
position_max: 226.5
rotation_distance: 40
microsteps: 32

# Значением driver_SGTHRS Если слишком рано тормозит, то уменьшаем, если наоборот бьётся в край и не останавливается, то увеличиваем.

[tmc2209 stepper_x]
run_current: 1.6
interpolate: False
driver_SGTHRS: 59

# https://docs.google.com/document/d/1bB4PMj19bbA6hy5UjiqDtNzSKsMhrKbdDIHbrA4D0GU/edit?tab=t.0
[stepper_y]
position_endstop: -0.5
position_min: -0.5
position_max: 204
rotation_distance: 40
microsteps: 32

[tmc2209 stepper_y]
run_current: 1.6
interpolate: False
driver_SGTHRS: 59

[stepper_z]
position_max: 245
position_min: -5

#for my 220v bed
[heater_bed]
sensor_type: Generic 3950
max_temp: 125

[firmware_retraction]
retract_length: 0.6
retract_speed: 30
unretract_extra_length: 0.4
unretract_speed: 30

[extruder]
sensor_type: PT1000
max_temp: 340
rotation_distance: 7.05
# min_extrude_temp:20

[skew_correction]

[temperature_fan chamber_fan]
target_temp: 65.0

[resonance_tester]
min_freq: 20
max_freq: 140