[printer]
max_velocity: 600
max_accel: 15000
max_z_accel: 150
max_z_velocity: 7.5

[stepper_x]
position_min: -5
position_max: 229
position_endstop: 229

[stepper_y]
position_min: -0.5
# position_max: 221.5

[stepper_z]
position_max: 245
position_min: -5

#for my 220v bed
[heater_bed]
sensor_type: Generic 3950
max_temp: 125

# you can change the fan from always on to just on when the extruder, bed or steppers
# are on, but this will mean the MCU fan might be off when you are doing other activities
# that are very CPU intensive, like generating graphs
# [controller_fan mcu]
# pin: PB2
# tachometer_pin: ^PC6
# #heater: extruder, heater_bed
# heater: extruder
# stepper: stepper_x, stepper_y, stepper_z
# idle_timeout: 90

[firmware_retraction]
retract_length: 0.6
retract_speed: 30
unretract_extra_length: 0.4
unretract_speed: 30

[extruder]
sensor_type: PT1000

[skew_correction]

[temperature_fan chamber_fan]
target_temp: 65.0